
<title> <%= @project.title%> </title>
<p id="notice"><%= notice %></p>

<div class="container text-center">
  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>


  <div class="container-fluid-nav text-center">
    <button type="button" class="btn btn-outline-danger"> <a> <%= link_to 'Edit', edit_project_path(@project) %> </a> </button>
    <button type="button" class="btn btn-outline-light">  <a> <%= link_to 'Back', projects_path %>               </a> </button>
  </div>
