<div class="container">
  <center><h2 style="font-family: 'Courier New', monospace; padding-top: 18%;">Please sign in</h2></center>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4 ">
          <a style="font-family: 'Courier New', monospace;"> <%= f.label :email, "Email Address: " %><br /> </a>
          <%= f.email_field :email, :class => 'form-control' %>
        </div>
      </div>
    </div>
    
    
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
        <a style="font-family: 'Courier New', monospace;"> <%= f.label :password, "Password:" %><br /> </a>
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
        <a style="font-family: 'Courier New', monospace;"> <%= f.label :remember_me %> </a>
          <%= f.check_box :remember_me %>
        </div>
      </div>
    </div>


      <div class="field">
        <div class="row">
          <div class="col-md-4 offset-5">
            <%= f.submit "Log-in", :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
  <% end %>
</div>



