<!DOCTYPE html>
<html>
  <head>
    <title>CS3300 Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">  
    <div class="nav-item active d-flex align-items-center">  
      
      <%= image_tag "Default-Profile.jpeg", height: 60 %>
      
      
      
      <% if user_signed_in? and current_user.email == "none@nomail.com" %>
        <a style="font-size: 25px; font-family: 'Courier New', monospace; font-weight: 500;"> Welcome, PJ Olender! </a>
      
      <% elsif user_signed_in? and current_user.email != "none@nomail.com" %>
        <a style="font-size: 25px; font-family: 'Courier New', monospace; font-weight: 500;"> Welcome, <%=current_user.email%> </a>
      
      <% else %>
        <a> Welcome! </a>
      <% end %>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center" style="font-size: 23px">

        <li class="nav-item active d-flex align-items-center">
          <a class="nav-link " href="#"><%= link_to "Home", root_path %>  </a>
        </li>

        <li class="nav-item active d-flex align-items-center">
          <a class="nav-link " href="#"><%= link_to "Profile", edit_user_registration_path %>  </a>
        </li>

        <li class="nav-item active d-flex align-items-center">
          <a class="nav-link " href="#"><a><% if not user_signed_in? %> <%= link_to "Login", new_user_session_path %>
          <% else %> <%= link_to "Logout", destroy_user_session_path, method: :delete %> <% end %> </a>  </a>
        </li>
        
        <% if not user_signed_in? %>
          <li class="nav-item active d-flex align-items-center">
            <a class="nav-link " href="#"><%= link_to "Register", new_user_registration_path %>  </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


  <div class="container center"
    <body>
      <%= yield %>
    </body>
  </div>
</html>
